.app {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: #ffbb99;
  background-image: radial-gradient(
      at 35% 44%,
      hsla(169, 75%, 76%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 14% 52%, hsla(201, 65%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 84% 28%, hsla(197, 72%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 91% 99%, hsla(212, 93%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 75% 83%, hsla(9, 84%, 69%, 1) 0px, transparent 50%),
    radial-gradient(at 42% 40%, hsla(124, 92%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 69%, hsla(194, 92%, 72%, 1) 0px, transparent 50%);
  h1 {
    font-weight: 900;
    font-size: 3.5rem;
    margin-top: 0;
    padding-top: 3rem;
  }
}

.app__inner {
  max-width: 1140px;
  margin: 0 auto;
}

.winner {
  display: block;
  margin-top: 2.5rem;
  font-size: 4rem;
  font-weight: 900;
}

//https://webdeasy.de/en/top-css-buttons-en/ #1
.replay-button {
  margin-top: 1.5rem;
  width: 220px;
  height: 50px;
  font-weight: 900;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;

  &:before {
    content: '';
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }

  &:active {
    color: #000;
    &:after {
      background: transparent;
    }
  }
  &:hover:before {
    opacity: 1;
  }
  &:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
