.root {
  width: 10rem;
  height: 10rem;
  line-height: 1;
  font-size: 4rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
  background-color: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.7px);
  -webkit-backdrop-filter: blur(10.7px);
  border: 1px solid rgba(255, 255, 255, 0.27);

  &:not(.isPicked) {
    &:focus,
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
}

.isPicked {
  background-color: rgba(255, 255, 255, 0.3);
  cursor: default;
}
